*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
     background-color:rgb(1, 33, 50); 
    
}


/* //navbar-start// */

.navbar{
    background-color: rgb(2, 18, 26);
    display: flex;
    justify-content: right;
    padding : 22px 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}
.navbar .nav-items{

    margin-right: 70px;
}

.navbar .nav-item{
    
    list-style-type: none;
    display: inline;
    /* margin-right: 20px; */
}


.navbar a{
    font-size: 16px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
}

/* //navbar-end// */


a{
    color: rgb(73, 178, 220);
}
a:hover{
    color: yellow;
    font-size: 14px;
    transition: 0.5s;
}

/* //background-image// */

.container{
    position: relative;
    top: 67px;
    width: 89%;
    margin: 0 5%;
    margin-bottom: 1%;
    border-radius: 10px;
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.9)) , url('a3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat-;
    
}

.container .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 100%;
    background-color: transparent;
    padding: 2%;
    color: white;
    display: flex;
    justify-content:space-around;
    flex-direction: column;
}


/* //social-icon-start// */


.social-icon a i{
    margin-top:559px;
    font-size: 27px;
    color: white;
    margin-left: 2%;
    transition: .8s ease;
}




.insta i:hover{
    transition: 0.5s ease;
    font-size: 23px;
    color: rgb(171, 59, 59);
    background-color: white;
    border-radius: 100px;
    cursor: pointer;
}
.facebook i:hover{
    transition: 0.5s ease;
    font-size: 23px;
    color: rgb(1, 61, 200);
    background-color: white;
    border-radius: 100px;
    cursor: pointer;
}
.linkedin i:hover{
    transition: 0.5s ease;
    font-size: 23px;
    color: rgb(1, 61, 200);
    background-color: white;
    border-radius: 100px;
    cursor: pointer;
}
/* //social-icon-end// */


/* //form-start// */


.container .box1{
    position:absolute;
    left: 90px;
    width: 400px;
    height: 533px;  
}

.box1 .form-box{
    width: 400px;
    margin: auto;
    align-items: center;
    display: flex;
    margin-left: 5%;
    background-color: transparent;
    backdrop-filter: blur(20px);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 1px 10px #020d12;
}
.form-box h2{
    font-size: 32px ;
    text-align: center;
}
.form-box .box2{
    width: 100%;
    height: 35px;
    border-bottom: 2px solid white;
    margin: 10px 0;
}
.box2 input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
}
.box2 label{
    position: absolute;
    left :0;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 500;
    pointer-events:none ;
    transition: .5s ease-in-out;
}

.box2 .icon{
    position: absolute;
    color: white;
    font-size: 22px;
}
.form-box .btn{
    margin-top: 8%;
    font-size: 100%;
    justify-content: center;
    width: 100%;
    padding: 15px 20px;
    border: 0.5px solid black;
    font-weight: 600;
    background-color: rgb(204, 252, 252);
    
}
.form-box .btn:hover{
    background-color: rgb(115, 218, 218);
    font-size: 18px;
    
    transition: 0.4s;
}
.form-box{
    justify-content: center;
}
.form-box .remember-forget label input{
    margin-top: 10%;
}

.checkbox{
    margin-right: 10px;
}


/* //forn-box-end// */

